{% extends "base.html" %}

{% block content %}
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active"><a href='{% url "customers" %}'>My Customers</a></li>

  <li class="active">New Password</li>
</ul>

<h3>New Password for Customer {{ email }}</h3>

<hr>

<form method="post">
    {% csrf_token %}
    <fieldset>

        <div class="form-group">
          {{ form.password.errors }}
          <label for="id_password" class="col-lg-2 control-label">New Password:</label>
          <div class="col-lg-10">
              {{ form.password }}
          </div>
        </div>


        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Set New Password" />
        </div>
    </fieldset>

</form>
{% endblock %}