{% extends "base.html" %}

{% block scripts %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block content %}
<h2>Have a question? Contact Us</h2>
<hr/>

<div class="row">
    <div class="col-md-8">
                {% if submitted %}
                <div class="alert alert-dismissable alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>Congratulations!</h4>

                    <p>Your form was submitted successfully. We will contact you soon!</p>
                </div>
                {% endif %}

                <form class="form-horizontal" method="post" autocomplete="off">
                    {% csrf_token %}
                    <fieldset>

                        <span class="help-block text-right">All fields are required</span>

                        <div class="form-group">
                            <label for="name" class="col-lg-2 control-label">Your name</label>

                            <div class="col-lg-10">
                                {% if form.name.errors %}<ul>{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}

                                <input class="form-control" id="name" placeholder="First & Last Name" type="text"
                                       value="{{ form.name.value|default_if_none:'' }}" name="{{ form.name.name }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-lg-2 control-label">Email</label>

                            <div class="col-lg-10">
                                {% if form.email.errors %}<ul>{% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}

                                <input class="form-control" id="email" placeholder="Email" type="text"
                                       value="{{ form.email.value|default_if_none:'' }}" name="{{ form.email.name }}">

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="message" class="col-lg-2 control-label">Message</label>

                            <div class="col-lg-10">
                                {% if form.message.errors %}<ul>{% for error in form.message.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}

                                <p>
                                <i>NOTE: Please email your coach directly if you wish to communicate with them.</i>
                                </p>

                                <textarea class="form-control" rows="3" id="message" name="{{ form.message.name }}">{{ form.message.value|default_if_none:'' }}</textarea>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-3">
                                &nbsp;
                            </div>


                            <div class="col-lg-9 ">
                                {% if form.g_recaptcha_response.errors %}
                                <ul>{% for error in form.g_recaptcha_response.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}

                                <div class="g-recaptcha" data-width="100%" data-sitekey="{{ re_captcha_site_key }}"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <a href="/" class="btn btn-default">Cancel</a>
                                <button type="submit" class="btn btn-primary">Submit <i class="fa fa-send-o"></i>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>


    </div>
    <div class="col-md-4">
        <p>
            <b>My Business Benchmark</b>
            <br>
            Phone: 03 9001 0878<br>
            Postal address: PO Box 3204, East Doncaster, VIC 3109<br>
        </p>
    </div>
</div>
{% endblock %}
