<p>
    Hi,
</p>

<p>Your customer <b>{{ customer.name }}</b> has just finished completion report for week {{ week.sunday }}.</p>

<br>
<p>This e-mail was generated automatically. Please do not respond directly to this message. If you have any questions or feedback, please feel free to <a href="https://mybusinessbenchmark.com.au/contacts">contact us</a>.
</p>

<p>
Your <a href="https://mybusinessbenchmark.com.au/">MyBusinessBenchmark.com.au</a> Team
</p>

<i>This message was intended for {{ customer.coach_notify_email }}. If you have received this message in error please <a href="https://mybusinessbenchmark.com.au/contacts">contact us</a>.</i>