
<ul class="pagination pull-right">
    {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}">
                {{ page_obj.previous_page_number }}
            </a>
        </li>
    {% endif %}

    <li class="active">
        <a class="current">{{ page_obj.number }}</a>
    </li>

    {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}">
                {{ page_obj.next_page_number }}
            </a>
        </li>
    {% endif %}
</ul>
