{% extends "base.html" %}
{% load groups widget_tweaks %}

{% block scripts %}
<script language="javascript" src="/static/js/Chart.Core.js"></script>
<script language="javascript" src="/static/js/Chart.Line.js"></script>
<script language="javascript" src="/static/js/common.js"></script>

<script>

    $(function () {

        var $form = $('[data-role=chart-form]'),
            $noRecords = $('[data-role=no-records]');

        $form.submit(function (event) {
            event.preventDefault();

            $.get('{% url 'journey-api' %}', $form.serialize(), function (response) {
                if (response.weeks) {
                    KNRCommon.build_simple_chart(
                        "#summaryChart",
                        response.weeks,
                        response.targets,
                        "Target",
                        response.actuals,
                        "Actual"
                    );
                }
                $noRecords[response.weeks ? 'hide' : 'show']();
            });

            return false;
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href"); // activated tab

            if (target == "#chart") {
                $form.trigger('submit');
            }
        });

    });
</script>

{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Journey</li>
    <li class="active">Legacy</li>
</ul>


<h2>Journey</h2>

<ul class="nav nav-tabs">
    <li class="active"><a aria-expanded="true" href="#home" data-toggle="tab">Data</a></li>
    <li class=""><a aria-expanded="false" href="#chart" data-toggle="tab">Chart</a></li>
</ul>

<br>

{% if messages %}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for message in messages %}
    <span>{{ message }}</span>
    {% endfor %}
</div>
{% endif %}



<div id="rootTab" class="tab-content">

    <div class="tab-pane fade active in" id="home">

        <form class="form-horizontal" method="post">

        <div class="row">
            <div class="col-lg-6">

                <div class="row">
                    <div class="col-lg-8 padding0">


                            <fieldset>
                                {{ form.errors }}
                                {% csrf_token %}

                                <div class="form-group">
                                    Revenue year 1:

                                    <div class="row">
                                        <div class="col-lg-8 padding0">
                                            {{ form.rev_1_year|add_class:'form-control' }}
                                        </div>
                                        <div class="col-lg-4 padding0">
                                            {{ form.year_1_lbl }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    Revenue year 2:

                                    <div class="row">
                                        <div class="col-lg-8 padding0">
                                            {{ form.rev_2_year|add_class:'form-control' }}
                                        </div>
                                        <div class="col-lg-4 padding0">
                                            {{ form.year_2_lbl }}
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    Revenue year 3:
                                    <div class="row">
                                        <div class="col-lg-8 padding0">
                                            {{ form.rev_3_year|add_class:'form-control' }}
                                        </div>
                                        <div class="col-lg-4 padding0">
                                            {{ form.year_3_lbl }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    Journey # value and date range:
                                    <div class="row">
                                        <div class="col-lg-4 padding0">
                                            {{ form.guarantee_val|add_class:'form-control' }}
                                        </div>
                                        <div class="col-lg-4 padding0">
                                            {{ form.next_range_start_date }}
                                        </div>
                                        <div class="col-lg-4 padding0">
                                            {{ form.next_range_end_date }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    Minimum profit:
                                    <div class="row">
                                        <div class="col-lg-8 padding0">
                                            {{ form.minimum_profit|add_class:'form-control' }}
                                        </div>
                                        <div class="col-lg-4 padding0">
                                            {{ form.minimum_profit_year }}
                                        </div>
                                    </div>
                                </div>

                            </fieldset>

                    </div>
                    <div class="col-lg-4"></div>
                </div>

            </div>

            <div class="col-lg-6">

                <div class="row">
                    <div class="col-lg-6">Average Revenue for years 1-3:</div>
                    <div class="col-lg-6"><b>{{ instance.average }}</b></div>
                </div>

                <div class="row paddingtop5">
                    <div class="col-lg-6">Target revenue for the next {{ instance.next_range_month_delta }} months:</div>
                    <div class="col-lg-6"><span class="red"><b>{{ instance.target_revenue }}</b></span></div>
                </div>

                <div class="row paddingtop5">
                    <div class="col-lg-6">Difference:</div>
                    <div class="col-lg-6">{{ instance.target_revenue }} - {{ revenue_to_date|default_if_none:"N/A" }} = <b>{{difference|default_if_none:"N/A"}}</b>
                    </div>
                </div>

                <div class="row paddingtop5">
                    <div class="col-lg-6">Weeks to go:</div>
                    <div class="col-lg-6"><b>{{ weeks_to_go|default_if_none:"N/A" }}</b></div>
                </div>

                <div class="row paddingtop5">
                    <div class="col-lg-6">Average $ / week:</div>
                    <div class="col-lg-6"><b>{{ average_per_week|default_if_none:"N/A" }}</b></div>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-md-6 text-left padding0">
                    <button class="btn btn-primary"
                            type="submit"
                            value="Save"
                            >
                        <b>Save</b>
                    </button>
                </div>
                <div class="col-md-6 text-right padding0">
                    <button class="btn btn-default"
                            type="submit"
                            name="{{ form.is_archived.name }}"
                            value="on">
                        Save & Archive
                    </button>
                </div>
            </div>

        </form>

    </div>

    <div class="tab-pane fade" id="chart">
        <form data-role="chart-form">
            Starting Week:
            {{ week_range_form.start_week }}
            &nbsp;&nbsp;
            End:
            {{ week_range_form.end_week }}
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary btn-sm">
                Build Chart
            </button>
        </form>

        <br />
        <div data-role="no-records" style="display: none;"><b>No data available.</b></div>
        <div id="summaryChart"></div>

    </div>
</div>


{% endblock %}}